USE [master]
GO
/****** Object:  Database [ZBSDB]    Script Date: 5/17/2022 12:21:44 AM ******/
CREATE DATABASE [ZBSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZBSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ZBSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZBSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ZBSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZBSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZBSDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/17/2022 12:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountNo] [bigint] IDENTITY(60000,1) NOT NULL,
	[CRN] [bigint] NOT NULL,
	[AccountBalance] [float] NOT NULL,
	[AccountStatus] [varchar](100) NOT NULL,
	[BranchIFSCNo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 5/17/2022 12:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[AdministratorID] [bigint] NOT NULL,
	[AdministratorFirstName] [varchar](100) NOT NULL,
	[AdministratorLastName] [varchar](100) NOT NULL,
	[AdministratorAddress] [varchar](100) NOT NULL,
	[AdministratorMobileNo] [varchar](100) NOT NULL,
	[AdministratorEmailID] [varchar](100) NOT NULL,
	[AdministratorDOB] [date] NOT NULL,
	[AdministratorGender] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[AdministratorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiary]    Script Date: 5/17/2022 12:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiary](
	[BeneficiaryAccountNo] [varchar](100) NOT NULL,
	[AccountNo] [bigint] NOT NULL,
	[BeneficiaryFirstName] [varchar](100) NOT NULL,
	[BeneficiaryLastName] [varchar](100) NOT NULL,
	[BeneficiaryIFSCNo] [varchar](100) NOT NULL,
	[BeneficiaryBankName] [varchar](100) NOT NULL,
	[BeneficiaryBankAddress] [varchar](100) NOT NULL,
	[BeneficiaryAccountStatus] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Beneficiary] PRIMARY KEY CLUSTERED 
(
	[BeneficiaryAccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 5/17/2022 12:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchIFSCNo] [varchar](100) NOT NULL,
	[BranchName] [varchar](100) NOT NULL,
	[BranchAddress] [varchar](100) NOT NULL,
	[BranchPincode] [bigint] NOT NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchIFSCNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credential]    Script Date: 5/17/2022 12:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credential](
	[AdministratorID] [bigint] NULL,
	[CRN] [bigint] NULL,
	[UserName] [varchar](100) NOT NULL,
	[DefaultPassword] [varchar](100) NULL,
	[AccountPassword] [varchar](100) NULL,
	[TransactionPassword] [varchar](100) NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/17/2022 12:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CRN] [bigint] IDENTITY(1001,1) NOT NULL,
	[CustomerFirstName] [varchar](100) NOT NULL,
	[CustomerLastName] [varchar](100) NOT NULL,
	[CustomerAddress] [varchar](100) NOT NULL,
	[CustomerMobileNo] [varchar](100) NOT NULL,
	[CustomerEmailID] [varchar](100) NOT NULL,
	[CustomerDOB] [date] NOT NULL,
	[CustomerGender] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CRN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 5/17/2022 12:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[CRN] [bigint] NULL,
	[AdministratorID] [bigint] NULL,
	[LoginDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_LoginHistory] PRIMARY KEY CLUSTERED 
(
	[LoginDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 5/17/2022 12:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionID] [bigint] IDENTITY(11000,1) NOT NULL,
	[AccountNo] [bigint] NOT NULL,
	[TransactionDateTime] [datetime] NOT NULL,
	[TransactionType] [varchar](100) NOT NULL,
	[TransactionAmount] [float] NOT NULL,
	[TransactionComment] [varchar](100) NOT NULL,
	[ToAccount] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Branch_BranchIFSCNo] FOREIGN KEY([BranchIFSCNo])
REFERENCES [dbo].[Branch] ([BranchIFSCNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Branch_BranchIFSCNo]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Customer_CRN] FOREIGN KEY([CRN])
REFERENCES [dbo].[Customer] ([CRN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Customer_CRN]
GO
ALTER TABLE [dbo].[Beneficiary]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiary_Account_AccountNo] FOREIGN KEY([AccountNo])
REFERENCES [dbo].[Account] ([AccountNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beneficiary] CHECK CONSTRAINT [FK_Beneficiary_Account_AccountNo]
GO
USE [master]
GO
